<div id="product_details" class='span8 well'>
  <div class="product-header">
    <%= image_tag(@product.artwork_url_60) %>
    <h2><%= @product.track_name %></h2>
    <div style='clear:both'></div>
  </div>
  
  <h3>Description</h3>
  <p><%=raw sanitize(simple_format(@product.description), :tags => %w(br p) ) %></p>
  
  <h3>Screenshots</h3>
</div>
