<div id="product_details" class='span8 well'>
  <div class="product-header">
    <%= image_tag(@product.artwork_url_60) %>
    <h2><%= @product.track_name %></h2>
    <div style='clear:both'></div>
  </div>
  
  <h3>Description</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Cras non lacus nisi. Suspendisse nec eros ac lectus ultricies
    feugiat nec id lacus. Nunc ultricies diam ac sem feugiat porta.
    Ut lorem sapien, feugiat dapibus fringilla sed, egestas quis
    ligula. Nulla vestibulum est nec nunc pretium at dictum sapien
    pharetra. Integer ut posuere lacus. Morbi est justo, ornare
    posuere consectetur sed, mollis ut justo. Sed et imperdiet lectus.
    Fusce ut magna ligula, at venenatis nibh. Nunc quis mi lacus.
    Vivamus dapibus massa id orci mollis ullamcorper.
    Duis placerat interdum mauris, at volutpat lacus tincidunt ut.
    Pellentesque habitant morbi tristique senectus et netus et
    malesuada fames ac turpis egestas. Curabitur bibendum orci
    ac nisl viverra condimentum. 
  </p>
</div>
