<h1>Listing products</h1>

<%= form_for(:lookup, :url => lookup_products_path) do |f| %>
  <strong>Search application: </strong>
  <%= f.select(:lookup_id, search_options, { :include_blank => true }) %>
  <%= f.submit 'Search', :html => "style='float:left'"%>
  <div style='clear:both'></div>
<% end %>

<%= render :partial => "show" unless @product.nil? %>
