<% title = "Apple Store" %>
<% content_for :title do title end %>

<% content_for :red_line do %>
  <h1><%= title %></h1>
  <legend>Small Vendor Affiliate</legend>
<% end %>

<% content_for :side_bar do %>
  <%= form_for(:lookup, url: lookup_products_path, html: {id: "search_form", class: "well"}) do |f| %>
    <label>Search app</label>
    <div class="controls">
      <%= f.text_field :options, data: {autocomplete_source: list_products_path} %>
    </div>
  <% end %>
<% end %>

<%= render partial: "show" unless @product.nil? %>

