<% title = "Apple Store" %>
<% content_for :title do title end %>
<% content_for :red_line do %>
	<div class="row">
    <h1 class="span4 pull-left"><%= title %></h1>
  </div>
  <legend>Small Vendor Affiliate</legend>
<% end %>

<div class='row'>
  <%= form_for(:lookup, :url => lookup_products_path, :html => {:id => "search_form", :class =>"well span3"}) do |f| %>
  <label>Search app</label>
    <%= f.text_field :options, data: {autocomplete_source: list_products_path} %>
  <% end %>
  <%= render :partial => "show" unless @product.nil? %>
</div>

