<h1>Listing products</h1>

<%= form_for(:lookup, :url => lookup_products_path, :html => {:id => "search_form"}) do |f| %>
  <b>Search application:</b>
  <%= f.text_field :options %>
  <div style='clear:both'></div>
<% end %>

<%= render :partial => "show" unless @product.nil? %>
